.disp{
    display: flex;
    justify-content: center;
    margin-bottom: 40px !important;
}
.blog-body{
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
    padding: 20px;
}

.blog-body div img{
    width: 100%;
    border-radius: 20px 20px 10px 10px;
    margin-bottom: 20px;
}

.blog_contain{
    padding: 20px;
    color: gray;
    font-style: italic;
}

.action-bar .del{
    color: gray ;
}

.action-bar .edit{
    color: gray ;
}

.action-bar{
    display: flex;
    flex-direction: row;
}

.action-bar .edit:hover{
    color:cornflowerblue;
}

.action-bar .del:hover{
    color:brown;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .blog-body{
        width: 90%;
        padding: 10px;
        margin-bottom: 40px !important;
    }
}

.view_me{
    width: 100%;
    resize: none;
    height: 700px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: medium;
}

#likebtn{
    color: gray;
}

.sideminitab{
    margin-left: 75%;
    margin-top: 20px;
    width: 140px;
    background-color: white;
    height: 280px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
}

.sideminitab .sidiv{
    margin-left: 40px;
}

.comment-box{
    margin-left: 10%;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

@media only screen and (max-width: 600px){
    .sideminitab{
        margin-top: 100%;
        margin-right: 130%;
        position: fixed;
        background: rgba(255, 255, 255, 0.805);
    }
}

.commentsend{
}
.commentsend input{
    height: 35px;
    padding-left: 5%;
    width: 60%;
    display: inline;
}
.commentsend button{
    height: 40px;
    display: inline;
}